<% layout('boilerplate') %>
<% script('/javascripts/attendance.js') %>
<% stylesheet('/stylesheets/attendance.css') %>
<div id="header">
  <h2>
    <%=date%> 출석 현황
  </h2>
</div>
<div id="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <form id="searchForm" action="/attendance" method="get" if-match="*">
          <div class="input-group">
            <input id="searchInput" name="date" class="form-control" type="date" value="<%=date%>">
            <span class="input-group-btn">
              <button id="searchBtn" type="button" class="btn btn-secondary">Search!</button>
            </span>
          </div>
        </form>
      </div>
      <div class="panel-body attd-list-wrap">

          <% data.forEach(function(el, index) { %>
          <div class="media">

            <% if(el.attendances[0].file_name != null ) { %>
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="" alt="...">
              </a>
            </div>
            <% } %>

            <div class="media-body">
              <h4 class="media-heading"><%=el.name%></h4>
              <%=el.attendances[0].memo %> <small class="submit_date"><%=el.attendances[0].submit_date%></small>
            </div>
          </div>
          <% }); %>

      </div>
    </div>

  <% if(hasInput) { %>
    <div class="input-wrap-row row">
      <form id="attdForm" action="/attendance" method="post" if-match="*">
        <div class="row input-wrap">
          <div class="input-wrap-col">
            <input name="memo" id="attd-input-text" type="text" class="form-control input-lg" placeholder="남길 말을 입력하세요.">
          </div>
          <div class="input-wrap-col-end">
            <div class="picture-wrapper" data-hover="tooltip" data-tooltip-content="사진 첨부">
                <span id="picture" class="glyphicon glyphicon-camera"></span>
            </div>
          </div>
        </div>
        <div class="row info-wrap">
        글을 게시하려면 Enter키를 누르세요.
        </div>
      </form>
    </div>
    <% } %>
</div>
