<% layout('boilerplate') %>
<% stylesheet('/stylesheets/register.css') %>
<div id="header">
  <h2><%= data.id %> 정보 수정</h2>
</div>
<div id="container">
    <form action="/modify" method="post" id="modifyForm">
      <ul id="register_idpw" class="list-group">
          <li class="list-group-item">
            <input type="password" id="pwd" name="pwd" autocomplete="off"
            class="form-control input-lg int " maxlength="20" placeholder="비밀번호"
            required >
            <button id="newPwdBtn" type="button" class="btn btn-warning" onclick="javascript:alert('개발 중입니다.');">비밀번호 변경</button>
          </li>
      </ul>

      <ul id="register_info" class="list-group">
          <li class="list-group-item">
              <input type="text" id="name" name="name" maxlength="20" class="form-control input-lg int" placeholder="이름" value="<%= data.name %>" required />
          </li>
          <li class="list-group-item">
            <input type="date" id="date" name="date" maxlength="100" class="form-control input-lg int" placeholder="생년월일"
            value="<%= data.birth %>" />
          </li>
          <li class="list-group-item">
              <input type="text" id="email" name="email" maxlength="100" class="form-control input-lg int" placeholder="이메일" value="<%= data.email %>"/>

          </li>
          <li class="list-group-item">
              <input type="text" id="tel" name="tel" maxlength="100" class="form-control input-lg int" value="<%= data.tel %>"  placeholder="전화번호" />
          </li>
          <li class="list-group-item">
              <input type="text" id="mobile" name="phone" maxlength="100" class="form-control input-lg int" placeholder="휴대전화번호" value="<%= data.phone %>" />

          </li>
      </ul>
      <button type="submit" id="modify" class="btn btn-lg btn-primary">수정하기</button>
    </form>
</div>
